<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="..\Content\AppsStyle.css">
</head>

<body>
    
    <nav>
        <div class="logo"><h4>
    @Html.ActionLink("App Store", "Today", "AppStore", new { area = "" }, new { @class = "navbar-brand" })
    </h4></div>

        <ul class="nav-links">
            <li>@Html.ActionLink("Apps", "Apps", "AppStore")</li>
            <li>@Html.ActionLink("Categories", "CategoryView", "AppStore")</li>
            <li>@Html.ActionLink("Publishers", "Publishers", "AppStore")</li>
        </ul>

    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Boudin Djama</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
