@model IEnumerable<Appstore.Models.App>


@{
    ViewBag.Title = "NewApplication";
}

<h2>NewApplication</h2>


<div style="float:left; margin:5px;">
    @using (Html.BeginForm())
    {
        <p>
            @Html.ActionLink("Create New", "Create", "Applications")

        </p>
    }

</div>
<div style="float:left; margin:5px; ">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("filter")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Downloads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Downloads)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reviews)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Applcations", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Applcations", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Applcations", new { id = item.Id }, null)
        </td>
    </tr>
    }

</table>
