@model IEnumerable<Appstore.Models.Dev>

@{
    ViewBag.Title = "Publishers";
}

<h2>Publishers</h2>

<div style="float:left; margin:5px;">
    @using (Html.BeginForm())
    {
    <p>
        @Html.ActionLink("Create New", "Create", "Publishers")

    </p>
    }
    
</div>
<div style="float:left; margin:5px; ">
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("filter")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Publishers", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details","Publishers", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Publishers", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
