<head>
    <link rel="stylesheet" href="..\Content\AppsStyle.css">
</head>
@{
    ViewBag.Title = "Today";
}
<h2>@ViewBag.Title.</h2>
<h2 class="App-Date-Today">@DateTime.Now.DayOfWeek, @String.Format("{0:MMMM}", DateTime.Now) @DateTime.Now.Day</h2>
<h3>@ViewBag.Message</h3>
<h4>Top Free Games</h4>
<h4>
    <div class="App-wrapper">
        <img class="App-Image" src="..\Images\Apex-legends.jpg">
        <div class="App-categorie-date">FEB 4 2019 / GAMES</div>

        <div class="App-Name">Apex Legends</div>
        <div class="App-Description App-Price-Description">Battle Royal</div>
        <div class="App-Price App-Price-Description">FREE</div>
        <div>


</h4>